# Ignore __pycache__ directories and .pyc files
__pycache__/
*.pyc

# Ignore dev environment specific settings for vscode
.vscode/

# Ignore source file generated after resolving conflicts with mergetool
*.orig

# Ignore test harnesses
main_*

# Ignore .pkl files created in development
*.pkl

#ignore build folders
deployment/build/**
deployment/dist/**